<div class="latest-news">
  <h2>Latest News</h2>
  <ul>
    <li><strong>28 Jul 2026:</strong> The <a href="https://doi.org/10.1103/pv86-l9h7">MBD-ML paper</a> is published.</li>
    <li><strong>10 Jun 2026:</strong> Our work on MBD-ML has been accepted to <i>PRX Intelligence</i>.</li>
    <li><strong>30 Mar 2026:</strong> I have got an invited talk at the <a href="https://www.vdwdiscussions.com/">van der Waals – London Discussions</a>. Looking forward to fruitful exchanges in Perugia!</li>
    <li><strong>13 Mar 2026:</strong> I published <a href="https://zenodo.org/records/18865966">data</a> behind the recent JACS paper. See a <a href="{{ '/posts/2025/03/blog-post-1/' | relative_url }}">blog post</a> about the dataset.</li>
    <li><strong>24-28 Feb 2026:</strong> I visited the group of <a href="https://maurergroup.github.io/">Prof. Reinhard Maurer</a> in Vienna. I gave a seminar and had a lot of exciting discussions.</li>
    <li><strong>25 Feb 2026:</strong> Our work on MBD-ML is now available on <a href="https://arxiv.org/abs/2602.22086"><i>arXiv</i></a>.</li>
    <li><strong>23 Oct 2025:</strong> <i>Noncovalent Interactions in DFT: All the Charge Density We Do Not See</i> 
      is finally out in <a href="https://doi.org/10.1021/jacs.5c13706">JACS</a>.</li>
    <li><strong>15 Oct 2025:</strong> Our review <i>Accurate Noncovalent Interactions in Atomistic Systems via Quantum Drude Oscillators</i> has been just published in <a href="https://doi.org/10.1063/5.0281913">JCP</a>.</li>
    <li><strong>9 Oct 2025:</strong> It's time to celebrate, as our paper <i>Noncovalent Interactions in DFT: All the Charge Density We Do Not See</i> has been accepted to <i>JACS</i>!</li>
    <li><strong>1 Oct 2025:</strong> The website is set up! From now on, I will post regular updates on my scientific life & events here.</li>
  </ul>
</div>
