<div class="latest-news" style="max-height: 350px; overflow-y: auto; width: 260px;">
  <h2>Latest News</h2>
  <ul>
    <li><strong>15 Oct 2025:</strong> I am excited to share that our review <i>Accurate Noncovalent Interactions in Atomistic Systems via Quantum Drude Oscillators</i> 
      has been just [published](https://doi.org/10.1063/5.0281913) in <i>JCP</i>! That was a great community-wide effort and an enjoyable collaboration with 10+ co-authors.</li>
    <li><strong>9 Oct 2025:</strong> Our paper <i>Noncovalent Interactions in DFT: All the Charge Density We Do Not See</i> has been accepted to <i>JACS</i>!</li>
    <li><strong>1 Oct 2025:</strong> The website is set up! From now on, I will post regular updates on my scientific life & events here.</li>
  </ul>
</div>
